legend {
    text-align: center;
}

.regio {
    float: left;
    width: 47%;
    height: 200px;
    margin: 0 5px;
}

td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

td:first-child{
    text-align: left;
}